app:
  name: "goboot"

config_center:
#  nacos:
#    host: 127.0.0.1
#    port: 8848
#    namespace: b652ebeb-fc2c-4f5f-8398-316914b0be27
#    data_id: goboot
#    group: DEFAULT_GROUP
#    log_dir: ./logs/nacos
#    cache_dir: ./cache/nacos


# HTTP 服务器配置
http:
  port: 8083           # 端口号
  addr: 0.0.0.0        # 地址
  log_format: json     # 日志格式，可选 "json" 或其他
  debug: false         # 是否启用调试模式
  gin_mode: release    # Gin 模式，可选 "release", "debug" 或 "test"
  read_timeout: 10s    # 请求超时时间
  write_timeout: 10s   # 响应超时时间
  idle_timeout: 60s    # 空闲超时时间
  max_header: 1048576  # Header 最大字节数 (单位：字节)

# 数据库配置
db:
  db_host: 10.171.0.108
  db_port: 3306
  db_user: yce
  db_password: "UEQ4$fds"
  db_name: "yce"
  db_charset: utf8mb4
  db_max_idle_conns: 10
  db_max_open_conns: 100
  db_conn_max_lifetime: 1h
  db_parse_time: true
  db_loc: Local
  db_log_level: warn
  db_enable_auto_migrate: false
  db_ssl_mode: disable
  db_socket: ""
  db_driver: mysql


logger:
  level: info            # 日志级别（可选值: debug, info, warn, error）。默认: info
  development: false     # 是否是开发模式。默认: false
  # 文件相关配置
  file_name: app.log      # 日志文件名，默认: app.log
  max_size_mb: 20         # 单个日志文件最大尺寸 (单位: MB)。默认: 20
  max_age_days: 7         # 日志文件最多保留多少天。默认: 7
  compress: false         # 是否压缩历史日志文件。默认: false
  # 输出相关配置
  console_enabled: true   # 是否启用控制台输出。默认: true
  file_enabled: true      # 是否启用文件输出。默认: true

  # 测试内容
